@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* body */

body {
  width: 1440px;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* card */

.card {
  background: hsl(0, 0%, 100%);
  width: 50vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  border-radius: 25px;
  border: solid black 1px;
  border-bottom: solid black 1.5vh;
  border-right: solid black 1.5vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: baseline;
}

.illustration-article {
  border-radius: 16px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  gap: 8px;
}

.profile img {
  width: 32px;
  height: 32px;
}

.profile h3 {
  font-size: 16px;
}

/* text */
* {
  font-family: "Figtree", sans-serif;
}

.info {
  font-size: 16px;
  color: gray;
}

.tag {
  font-weight: bold;
  background-color: hsl(47, 88%, 63%);
  padding: 8px;
  border-radius: 4px;
}

.title {
  font-size: 24px;
}

.title:hover{
  color: hsl(47, 88%, 63%);
} 

@media screen and (max-width: 375px) {
    @import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;800&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  *
/* body */

body {
    width: 375px;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* card */

  .card {
    background: hsl(0, 0%, 100%);
    width: 36vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
    border-radius: 25px;
    border: solid black 1px;
    border-bottom: solid black 1.5vh;
    border-right: solid black 1.5vh;
    position: relative;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: baseline;
    flex: auto;
    width: 100%;
  }

  .illustration-article {
    border-radius: 16px;
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    gap: 8px;
  }

  .profile img {
    width: 32px;
    height: 32px;
  }

  .profile h3 {
    font-size: 16px;
  }

  /* text */
  * {
    font-family: "Figtree", sans-serif;
  }

  .info {
    font-size: 14px;
    color: gray;
  }

  .tag {
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    padding: 8px;
    border-radius: 4px;
  }

  .title {
    font-size: 20px;
  }
}
